{% extends 'base.html' %}


{% block navbar %}

<div class="collapse navbar-collapse" id="collapsibleNavbar">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'create-comment' %}">Add a new comment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'get-posts' sub.id %}">View {{ sub.name }}</a>
    </li>    
  </ul>
</div> 

{% endblock %}




{% block content %}

<div id = "container"> 
    <h2 class = "card-title"> {{ post.title }} </h2>
    <h6 class = "card-title"> Overall post sentiment is {{ sentiment }} </h4>

    {% for comment in comments %}
    &nbsp;
    <div class = "card border-class">
      
    <p class = "card-text">
        {{ comment.content}}
    </p>
    <small> By: {{ comment.created_by }} <br>
     Commented on {{ comment.created_on|date:"D d M" }} at {{ comment.created_on|date:"H:i" }} </small>
    &nbsp;
    {% empty %}
    <div class = "card border-class">
      <p class = "card-text"> No comments made on this post yet. <a href = "{% url 'create-comment' %}"> Create one </a> </p>
      
    </div>

    {% endfor %}
  </div>
</div>
{% endblock %}