{% extends 'base.html' %}


{% block navbar %}

<div class="collapse navbar-collapse" id="collapsibleNavbar">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href= "{% url 'home' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Other</a>
    </li>    
  </ul>
</div> 

{% endblock %}



{% block content %}
<style type = "text/css">
  .border-class
  {
    border:thin black solid;
    margin:20px;
    padding:20px;
  }
  </style>
<!--Use Model Form to render a form here-->
    <div id = "container" class = "d-flex form-group justify-content-center"> 
      <form action="" method="post" class = "card p-1 border-class">
          {% csrf_token %}
          <h3 class = "card-title"> Create A New Sub</h3>
          {{ form }}
          <input type="submit" value="Submit" class = "btn btn-primary">
      </form>
  </div>
{% endblock %}