{% extends 'base.html' %}

{% block content %}


<h1> {{ sub.name }} </h1>

<h5> {{ sub.description }} </h5>

<div id="container">
            {% for post in posts %}
            <div class = "card ">
                <h5 class = "card-title"> {{ post.title }} </h5> 
                <p class = "card-text"> {{ post.content}} </p>
                <p> View comments <a href = "{% url 'get-comments' post.id %}"> here</a></p>
                <small> {{ post.votes }} </small>
                {% endfor %}
        </div>
</div>
{% endblock %}