{% extends 'base.html' %}

{% block content %}
<style type = "text/css">
    .border-class
    {
      border:thin black solid;
      margin:20px;
      padding:20px;
    }
    </style>

<h1> {{ sub.name }} </h1>

<h5> {{ sub.description }} </h5>

<div id="container">
            {% for post in posts %}
            <div class = "card border-class">
                <h4 class = "card-title"> {{ post.title }} </h4> 
                <p class = "card-text"> {{ post.content}} </p>
                <small> By: {{ post.created_by }} </small>
                <p> View comments <a href = "{% url 'get-comments' post.id %}"> here</a></p>
                <small> {{ post.votes }} </small>
            </div>    
            {% endfor %}
        
</div>
{% endblock %}