{% extends 'base.html' %}


{% block navbar %}

<div class="collapse navbar-collapse" id="collapsibleNavbar">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href= "{% url 'home' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'all-subs' %}">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
    </li>    
  </ul>
</div> 

{% endblock %}



{% block content %}
<style type = "text/css">
    .border-class
    {
      border:thin black solid;
      margin:20px;
      padding:20px;
    }
    </style>

<div class = "container d-flex">
    
        <div class = "card ">
                <h4 class = "card-title"> Subs you are subscribed to:</h2>
            <ul>
            {% for sub in subs.all %}
                <li class = "card-text"> {{ sub }}</li>
            {% endfor %}
            <ul>
        </div>

        <div class = "card">    
        <h4 class = "card-title"> Your recent posts:</h4>
        <ul>
            {% for post in posts.all %}
                <li class = "card-text"> {{ post }}</li>
            {% endfor %}
            <ul>
        </div>

        <div class = "card">
            <h4 class = "card-title"> Your recent comments:</h2>
            <ul>
                {% for comment in comments.all %}
                <li class = "card-text"> {{ comment }}</li>
            {% endfor %}
            <ul>
        </div> 

{% endblock %}
