{% extends 'base.html' %}


{% block navbar %}

<div class="collapse navbar-collapse" id="collapsibleNavbar">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href= "{% url 'home' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Other</a>
    </li>    
  </ul>
</div> 

{% endblock %}



{% block content %}
<!--<script src="https://code.highcharts.com/highcharts.src.js"></script>-->
<canvas id = "myChart"> </canvas>
	<script src = "https://cdn.jsdelivr.net/npm/chart.js@2.8.0"> </script>
<script>
let http = new XMLHttpRequest();
		let result = true
		//The callback function
		http.onreadystatechange = function() {
			if (http.readyState == XMLHttpRequest.DONE) {
					if (http.status == 200) {
					console.log("Request completed:" + http.readyState);
					let responseData = JSON.parse(http.responseText);
					console.log("Response data is" + responseData);
					setParams(responseData);
				} else {
					result = false;
					fallBack();
				}
			}
		}
		console.log("readyState value is:" + http.readyState);
		http.open('GET','http://localhost:8000/d/api/data/{{ id }}/');
		console.log("Sending the AJAX request");
        console.log("" + http.responseURL);
		http.send();
		
		function fallBack() {
			if (result == false) {
				let p = document.createElement("p")
				p.innerHTML = "Unable to render graph"
				let link = document.createElement("a")
				link.setAttribute('href',"{% url 'home' %}")
				link.innerHTML = "Go to home page"
				p.appendChild(link)
				document.body.appendChild(p)
			}
		}

		function setParams(responseData) {
				let ctx = document.getElementById('myChart').getContext('2d');
				let chart = new Chart(ctx, {
    	// The type of chart we want to create
    	type: 'bar',
    	// The data for our dataset
    	data: {
        	labels: Object.keys(responseData.data),
        	datasets: [{
            label: 'Sub Statistics For {{ name }}',
            backgroundColor: 'rgb(131,131,131)',
            borderColor: 'rgb(0,0,0)',
            data: Object.values(responseData.data)
        }]
    	},
    	// Configuration options go here
    	options: {}
			});
		}	



</script>
{% endblock %}